<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Score: {{ (gameState$ | async ).score }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ul class="game-char">
    <li [class.selected]="item.selected" *ngFor="let item of (gameState$ | async ).characters"
      (click)="userSelect(item)">
      <span>
        {{item.id}}
      </span>
    </li>
  </ul>

  <ul class="game-result-zone">
    <li *ngFor="let resultItem of  (gameState$ | async ).three_radom_character">
      <span>
        {{resultItem.id}}
      </span>
    </li>
  </ul>

  <!-- Icons -->
  <ion-button (click)="startGame()">
    <ion-icon slot="start" name="star"></ion-icon>
    Start game
  </ion-button>


</ion-content>